.nav_bar{

}

.nav_bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.nav_bar ul li{
    float: left;
}

.nav_bar ul li a{
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;

    padding: 10px;


    text-decoration: none;

}

.nav_bar ul li a:hover {
  background-color: rebeccapurple;
}

nav.sticky{
  position: fixed;
  top: 0;
  width: 100%;

}